body {
    background-color: aliceblue;
}

.header {
    text-align: center;
    position: relative;
    top: 225px;
}

.loginPlace {
    margin-top: auto;
    margin-bottom: auto;
}

.field {
    display: block;
    position: relative;
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 25px 50px 50px 50px;
    box-shadow: 10px 5px 5px rgb(121, 163, 240);
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

